src/conf/xml-resources/web-service-references/BillingProxyService/wsdl/BillingProxyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BillingService" targetNamespace="http://www.globe.com/warcraft/wsdl/billing/" xmlns:ns1="http://www.globe.com/warcraft/wsdl/header/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.globe.com/warcraft/wsdl/billing/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.globe.com/warcraft/wsdl/header/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.globe.com/warcraft/wsdl/header/">
  <xs:complexType final="extension restriction" name="WarcraftHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsbMessageID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="EsbRequestDateTime" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EsbResponseDateTime" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EsbIMLNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="EsbOperationName" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarcraftHeader" nillable="true" type="WarcraftHeader"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.globe.com/warcraft/wsdl/billing/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.globe.com/warcraft/wsdl/billing/">
  <xs:element name="CreateCreditForLoyaltyRebateResponse" type="tns:CreateCreditForLoyaltyRebateResponse"/>
  <xs:element name="GetAccountBalanceByMsisdnResponse" type="tns:GetAccountBalanceByMsisdnResponse"/>
  <xs:element name="GetAllSubscribersPerCustomerResponse" type="tns:GetAllSubscribersPerCustomerResponse"/>
  <xs:element name="GetBillCycleDetailsByMsisdnResponse" type="tns:GetBillCycleDetailsByMsisdnResponse"/>
  <xs:element name="GetBillingListResponse" type="tns:GetBillingListResponse"/>
  <xs:element name="GetLastPaymentByMsisdnResponse" type="tns:GetLastPaymentByMsisdnResponse"/>
  <xs:element name="GetOutstandingBalanceByMsisdnResponse" type="tns:GetOutstandingBalanceByMsisdnResponse"/>
  <xs:element name="GetPaymentChannelHeaderByMsisdnResponse" type="tns:GetPaymentChannelHeaderByMsisdnResponse"/>
  <xs:element name="GetPerformanceIndicatorsByMsisdnResponse" type="tns:GetPerformanceIndicatorsByMsisdnResponse"/>
  <xs:element name="GetSpendingLimitByMsisdnResponse" type="tns:GetSpendingLimitByMsisdnResponse"/>
  <xs:element name="GetSubscriberByAccountIDResponse" type="tns:GetSubscriberByAccountIDResponse"/>
  <xs:element name="GetSubscriberByMsisdnResponse" type="tns:GetSubscriberByMsisdnResponse"/>
  <xs:element name="GetSubscriberDistributionByMsisdnResponse" type="tns:GetSubscriberDistributionByMsisdnResponse"/>
  <xs:element name="GetUnbilledChargeByMsisdnResponse" type="tns:GetUnbilledChargeByMsisdnResponse"/>
  <xs:element name="RetrieveBillingStatementResponse" type="tns:RetrieveBillingStatementResponse"/>
  <xs:element name="SendIVRReconnectionRequestResponse" type="tns:SendIVRReconnectionRequestResponse"/>
  <xs:complexType name="getAccountBalanceByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAccountBalanceByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetAccountBalanceByMsisdn" type="tns:GetAccountBalanceByMsisdnResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAccountBalanceByMsisdnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalanceDt" type="tns:AccountBalanceDt"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountBalanceDt">
    <xs:sequence>
      <xs:element name="ArBalance" type="xs:double"/>
      <xs:element name="UnappliedAmount" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubscriberByAccountID">
    <xs:sequence>
      <xs:element name="AccountNo" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubscriberByAccountIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetSubscriberByAccountIDResult" type="tns:GetSubscriberByAccountIDResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubscriberByAccountIDResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountResultsScreenDt" type="tns:AccountResultsScreenDt"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountResultsScreenDt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountDetailsScreenDt" type="tns:AccountDetailsScreenDt"/>
      <xs:element name="DummyField" type="xs:short"/>
      <xs:element minOccurs="0" name="LockInfo" type="tns:LockInfoDt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountDetailsScreenDt">
    <xs:sequence>
      <xs:element name="AccountId" type="xs:long"/>
      <xs:element minOccurs="0" name="AccountStatus" type="xs:string"/>
      <xs:element name="AcctBalPolicy" type="xs:byte"/>
      <xs:element minOccurs="0" name="AddressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="AddressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="AddressLine3" type="xs:string"/>
      <xs:element minOccurs="0" name="AddressLine4" type="xs:string"/>
      <xs:element minOccurs="0" name="ArAccountSubType" type="xs:string"/>
      <xs:element name="ArAccountType" type="xs:byte"/>
      <xs:element name="ArBalance" type="xs:double"/>
      <xs:element minOccurs="0" name="BankAccountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="BankCode" type="xs:string"/>
      <xs:element minOccurs="0" name="CcExpiryDate" type="xs:string"/>
      <xs:element minOccurs="0" name="CmAccountNumber" type="xs:string"/>
      <xs:element name="CollectionIndicator" type="xs:byte"/>
      <xs:element minOccurs="0" name="CreditCardNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="CreditCardType" type="xs:string"/>
      <xs:element minOccurs="0" name="Currency" type="xs:string"/>
      <xs:element name="CustomerNo" type="xs:int"/>
      <xs:element minOccurs="0" name="DocumentType" type="xs:string"/>
      <xs:element name="DummyField" type="xs:short"/>
      <xs:element minOccurs="0" name="NameLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="NameLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="PaymentMethod" type="xs:string"/>
      <xs:element name="WriteOffStatus" type="xs:byte"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LockInfoDt">
    <xs:sequence>
      <xs:element name="AccountTimestamp" type="xs:long"/>
      <xs:element name="DummyField" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllSubscribersPerCustomer">
    <xs:sequence>
      <xs:element name="CustomerNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllSubscribersPerCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetAllSubscribersPerCustomerResult" type="tns:GetAllSubscribersPerCustomerResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllSubscribersPerCustomerResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SubscriberInfo" type="tns:SubscriberInfo"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubscriberGeneralInfo" type="tns:SubscriberGeneralInfo"/>
      <xs:element minOccurs="0" name="SubscriberStatusInfo" type="tns:SubscriberStatusInfo"/>
      <xs:element minOccurs="0" name="PayChannelHeader" type="tns:PayChannelHeader"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberGeneralInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DealerCode" type="xs:string"/>
      <xs:element minOccurs="0" name="ActWaiveRsnCd" type="xs:string"/>
      <xs:element minOccurs="0" name="PrimResourceTp" type="xs:string"/>
      <xs:element minOccurs="0" name="PrimResourceVal" type="xs:string"/>
      <xs:element minOccurs="0" name="SubPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="CreditClass" type="xs:string"/>
      <xs:element minOccurs="0" name="CalculatePaymentCategory" type="xs:string"/>
      <xs:element minOccurs="0" name="Language" type="xs:string"/>
      <xs:element name="LinkPrevSubNo" type="xs:int"/>
      <xs:element name="LinkNextSubNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberStatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="SubStatusDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SubStsIssueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SubStsLastAct" type="xs:string"/>
      <xs:element minOccurs="0" name="SubStsRsnCd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayChannelHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingArrangementIdInfo" type="tns:BillingArrangementIdInfo"/>
      <xs:element minOccurs="0" name="CustomerIdInfo" type="tns:Csm3gCustomerIdInfo"/>
      <xs:element minOccurs="0" name="ExternalIdInfo" type="tns:ExternalIdInfo"/>
      <xs:element minOccurs="0" name="PayChannelBusinessEntityIdInfo" type="tns:BusinessEntityIdInfo"/>
      <xs:element minOccurs="0" name="PayChannelDescriptionInfo" type="tns:PayChannelDescriptionInfo"/>
      <xs:element minOccurs="0" name="PayChannelGeneralInfo" type="tns:PayChannelGeneralInfo"/>
      <xs:element minOccurs="0" name="PayChannelIdInfo" type="tns:PayChannelIdInfo"/>
      <xs:element minOccurs="0" name="PayChannelNumberInfo" type="tns:PayChannelNumberInfo"/>
      <xs:element minOccurs="0" name="PayChannelPaymentCategoryInfo" type="tns:PayChannelPaymentCategoryInfo"/>
      <xs:element minOccurs="0" name="PayChannelPaymentMethodInfo" type="tns:PayChannelPaymentCategoryInfoWrapper.java"/>
      <xs:element minOccurs="0" name="PayChannelStatusInfo" type="tns:PayChannelStatusInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillingArrangementIdInfo">
    <xs:sequence>
      <xs:element name="BillingArrangementId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Csm3gCustomerIdInfo">
    <xs:sequence>
      <xs:element name="CustomerNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExternalIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessEntityIdInfo">
    <xs:sequence>
      <xs:element name="BusinessEntityId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayChannelDescriptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayChannelGeneralInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayChannelIdInfo">
    <xs:sequence>
      <xs:element name="PayChannelId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayChannelNumberInfo">
    <xs:sequence>
      <xs:element name="AccountNo" type="xs:int"/>
      <xs:element name="BillingArrangementNo" type="xs:int"/>
      <xs:element name="PayChannelNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayChannelPaymentCategoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentCategory" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayChannelPaymentCategoryInfoWrapper.java">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccountNo" type="xs:string"/>
      <xs:element name="BankAccountType" type="xs:byte"/>
      <xs:element minOccurs="0" name="BankBranchNo" type="xs:string"/>
      <xs:element minOccurs="0" name="BankCode" type="xs:string"/>
      <xs:element minOccurs="0" name="CreditCardExpirationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CreditCardNo" type="xs:string"/>
      <xs:element minOccurs="0" name="CreditCardType" type="xs:string"/>
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PaymentMeansOwnerDetails" type="xs:string"/>
      <xs:element minOccurs="0" name="PaymentMethod" type="xs:string"/>
      <xs:element name="PaymentType" type="xs:byte"/>
      <xs:element minOccurs="0" name="Pin" type="xs:string"/>
      <xs:element name="RecurringAmount" type="xs:double"/>
      <xs:element name="RecurringFrequency" type="xs:byte"/>
      <xs:element name="RecurringFrequencyValue" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayChannelStatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="OpenDate" type="xs:dateTime"/>
      <xs:element name="PayChannelStatus" type="xs:byte"/>
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetUnbilledChargeByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetUnbilledChargeByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetUnbilledChargeByMsisdnResult" type="tns:GetUnbilledChargeByMsisdnResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetUnbilledChargeByMsisdnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="PIListInfo" type="tns:PIListInfo"/>
      <xs:element minOccurs="0" name="DocInfo" type="tns:DocInfo"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PIListInfo">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PerformanceIndicatorInfo" type="tns:PerformanceIndicatorInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PerformanceIndicatorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PerformanceIndicatorIdInfo" type="tns:PerformanceIndicatorIdInfo"/>
      <xs:element minOccurs="0" name="PIType" type="xs:string"/>
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AttributeList" type="tns:AttributeInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PerformanceIndicatorIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementIdInfo" type="tns:AgreementIdInfo"/>
      <xs:element minOccurs="0" name="CycleInfo" type="tns:CycleInfo"/>
      <xs:element minOccurs="0" name="FlexibleCycleInfo" type="tns:FlexibleCycleInfo"/>
      <xs:element name="OfferInstance" type="xs:int"/>
      <xs:element name="PartitionId" type="xs:short"/>
      <xs:element name="PerformanceIndicatorId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreementIdInfo">
    <xs:sequence>
      <xs:element name="AgreementId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CycleInfo">
    <xs:sequence>
      <xs:element name="Code" type="xs:short"/>
      <xs:element name="Month" type="xs:short"/>
      <xs:element name="Year" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlexibleCycleInfo">
    <xs:sequence>
      <xs:element name="CycleCode" type="xs:short"/>
      <xs:element name="CycleInstance" type="xs:short"/>
      <xs:element name="CycleYear" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeName" type="xs:string"/>
      <xs:element minOccurs="0" name="AttributeValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocInfo">
    <xs:sequence>
      <xs:element name="DocId" type="xs:long"/>
      <xs:element minOccurs="0" name="DocType" type="xs:string"/>
      <xs:element name="DocStatus" type="xs:byte"/>
      <xs:element minOccurs="0" name="BillDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CycleControlInfo" type="tns:CycleControlInfo"/>
      <xs:element minOccurs="0" name="PeriodCoverageStartDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PeriodCoverageEndDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ProductionType" type="xs:string"/>
      <xs:element name="AccountNo" type="xs:long"/>
      <xs:element name="CustomerNo" type="xs:long"/>
      <xs:element name="BaNo" type="xs:long"/>
      <xs:element minOccurs="0" name="DocumentFormat" type="xs:string"/>
      <xs:element minOccurs="0" name="PrintingCategory" type="xs:string"/>
      <xs:element name="DocProduceInd" type="xs:byte"/>
      <xs:element minOccurs="0" name="AmountCurrency" type="xs:string"/>
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime"/>
      <xs:element name="TotalAmount" type="xs:double"/>
      <xs:element name="InvoiceAmount" type="xs:double"/>
      <xs:element name="InvoiceTaxAmount" type="xs:double"/>
      <xs:element name="InvoiceNetAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="LegalInvoiceNo" type="xs:string"/>
      <xs:element name="BillFrequency" type="xs:short"/>
      <xs:element name="RebillActivity" type="xs:byte"/>
      <xs:element minOccurs="0" name="DocDemandType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CycleControlInfo">
    <xs:sequence>
      <xs:element name="CycleNo" type="xs:int"/>
      <xs:element name="CycleCode" type="xs:short"/>
      <xs:element name="CycleYear" type="xs:short"/>
      <xs:element name="CycleInstance" type="xs:short"/>
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="RunDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Status" type="xs:string"/>
      <xs:element name="CycleSeqRun" type="xs:int"/>
      <xs:element name="PeriodKey" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPerformanceIndicatorsByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
      <xs:element name="ExternalStructure" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPerformanceIndicatorsByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetPerformanceIndicatorsByMsisdnResult" type="tns:GetPerformanceIndicatorsByMsisdnResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPerformanceIndicatorsByMsisdnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="PIListInfo" type="tns:PIListInfo"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLastPaymentByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLastPaymentByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetLastPaymentResult" type="tns:GetLastPaymentByMsisdnResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLastPaymentByMsisdnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastPaymentDt" type="tns:LastPaymentDt"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LastPaymentDt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double"/>
      <xs:element minOccurs="0" name="CreditId" type="xs:long"/>
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOutstandingBalanceByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOutstandingBalanceByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetOutstandingBalanceByMsisdnResult" type="tns:OutstandingBalanceDt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutstandingBalanceDt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalanceDt" type="tns:AccountBalanceDt"/>
      <xs:element minOccurs="0" name="LastPaymentDt" type="tns:LastPaymentDt"/>
      <xs:element minOccurs="0" name="PayChannelHeader" type="tns:PayChannelHeader"/>
      <xs:element minOccurs="0" name="CustomerCyclesInfo" type="tns:CustomerCyclesInfo"/>
      <xs:element minOccurs="0" name="DocInfo" type="tns:DocInfo"/>
      <xs:element minOccurs="0" name="OverDueBalance" type="xs:double"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerCyclesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CycleCodeInfo" type="tns:CycleCodeInfo"/>
      <xs:element minOccurs="0" name="CustomerIdInfo" type="tns:Bl3gCustomerIdInfo"/>
      <xs:element name="CycleMonth" type="xs:short"/>
      <xs:element name="CycleYear" type="xs:short"/>
      <xs:element name="CycleInstance" type="xs:short"/>
      <xs:element name="CycleSeqNo" type="xs:int"/>
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Status" type="xs:string"/>
      <xs:element name="CustomerPartitionId" type="xs:short"/>
      <xs:element minOccurs="0" name="RunDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CycleCodeInfo">
    <xs:sequence>
      <xs:element name="CycleCode" type="xs:short"/>
      <xs:element name="CycleCloseDay" type="xs:short"/>
      <xs:element name="CycleBillDay" type="xs:short"/>
      <xs:element minOccurs="0" name="CycleDesc" type="xs:string"/>
      <xs:element name="CycleFrequency" type="xs:byte"/>
      <xs:element name="CycleFrequencyMultiplier" type="xs:short"/>
      <xs:element minOccurs="0" name="BillingReference" type="xs:dateTime"/>
      <xs:element name="CyclePopulationCode" type="xs:byte"/>
      <xs:element minOccurs="0" name="CyclePopulationDesc" type="xs:string"/>
      <xs:element name="CycleBusinessEntity" type="xs:int"/>
      <xs:element name="BillPrdUpLimit" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Bl3gCustomerIdInfo">
    <xs:sequence>
      <xs:element name="CustomerNo" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveBillingStatement">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
      <xs:element minOccurs="0" name="billId" nillable="true" type="xs:string"/>
      <xs:element name="convertible" type="xs:boolean"/>
      <xs:element name="fullBill" type="xs:boolean"/>
      <xs:element name="Immediate" type="xs:boolean"/>
      <xs:element minOccurs="0" name="pageSize" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="pageNumber" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="numberOfRows" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="fromDate" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="toDate" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveBillingStatementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RetrieveBillingStatementResult" type="tns:RetrieveBillingStatementResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveBillingStatementResult">
    <xs:sequence>
      <xs:element name="operationStatus" type="xs:int"/>
      <xs:element name="reprintResponse" type="xs:int"/>
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="fileBytes" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPaymentChannelHeaderByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPaymentChannelHeaderByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetPaymentChannelHeaderByMsisdnResult" type="tns:GetPaymentChannelHeaderByMsisdnResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPaymentChannelHeaderByMsisdnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="PayChannelHeader" type="tns:PayChannelHeader"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubscriberDistributionByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubscriberDistributionByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetSubscriberDistributionByMsisdnResult" type="tns:GetSubscriberDistributionByMsisdnResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubscriberDistributionByMsisdnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementDistributionInfo" type="tns:AgreementDistributionInfo"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreementDistributionInfo">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ChargeDistributionDetailsInfoList" type="tns:ChargeDistributionDetailsInfo"/>
      <xs:element minOccurs="0" name="DefaultOcPcnInfo" type="tns:PayChannelIdInfo"/>
      <xs:element minOccurs="0" name="DefaultRcPcnInfo" type="tns:PayChannelIdInfo"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="EventDistributionDetailsInfoList" type="tns:EventDistributionDetailsInfo"/>
      <xs:element minOccurs="0" name="PrimaryPcnInfo" type="tns:PayChannelIdInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargeDistributionDetailsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargeSplitType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventDistributionDetailsInfo">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="EligibleBaseResource" type="xs:string"/>
      <xs:element minOccurs="0" name="EventGroupItem" type="xs:string"/>
      <xs:element name="IsDistributable" type="xs:byte"/>
      <xs:element name="IsPrimary" type="xs:byte"/>
      <xs:element minOccurs="0" name="PaymentCategory" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceNames" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCreditForLoyaltyRebate">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
      <xs:element name="Amount" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCreditForLoyaltyRebateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateCreditForLoyaltyRebate" type="tns:CreateCreditForLoyaltyRebateResultResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCreditForLoyaltyRebateResultResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditDetailsScreenDt" type="tns:CreditDetailsScreenDt"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditDetailsScreenDt">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditReason" type="xs:string"/>
      <xs:element minOccurs="0" name="CreditDescription" type="xs:string"/>
      <xs:element name="Amount" type="xs:double"/>
      <xs:element name="InvoiceId" type="xs:long"/>
      <xs:element minOccurs="0" name="CreditNoteNo" type="xs:string"/>
      <xs:element minOccurs="0" name="CmBillingArrangementId" type="xs:string"/>
      <xs:element name="BillingArrangementId" type="xs:long"/>
      <xs:element minOccurs="0" name="CreditTypeOption" type="xs:string"/>
      <xs:element minOccurs="0" name="MemoText" type="xs:string"/>
      <xs:element minOccurs="0" name="BillingInvoiceNumber" type="xs:string"/>
      <xs:element name="CreditId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubscriberByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
      <xs:element minOccurs="0" name="PrimaryResourceType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubscriberByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetSubscriberByMsisdnResult" type="tns:QueryProductResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryProductResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubscriberSearchResultInfo" type="tns:SubscriberSearchResultInfo"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberSearchResultInfo">
    <xs:sequence>
      <xs:element name="CustomerNo" type="xs:int"/>
      <xs:element name="CustomerType" type="xs:byte"/>
      <xs:element minOccurs="0" name="NameLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="NameLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="AddressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="AddressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="AddressLine3" type="xs:string"/>
      <xs:element name="LinkType" type="xs:byte"/>
      <xs:element name="BusinessEntityId" type="xs:int"/>
      <xs:element name="SubscrNumber" type="xs:int"/>
      <xs:element name="SubStatus" type="xs:byte"/>
      <xs:element minOccurs="0" name="SubStatusDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SubscriberType" type="xs:string"/>
      <xs:element minOccurs="0" name="ResourceType" type="xs:string"/>
      <xs:element minOccurs="0" name="ResourceValue" type="xs:string"/>
      <xs:element minOccurs="0" name="PricePlan" type="xs:string"/>
      <xs:element minOccurs="0" name="ResourceEffectiveDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ResourceExpirationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PrimaryResourceType" type="xs:string"/>
      <xs:element minOccurs="0" name="PrimaryResourceValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSpendingLimitByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSpendingLimitByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetSpendingLimitByMsisdnResult" type="tns:GetSpendingLimitByMsisdnResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSpendingLimitByMsisdnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="PIListInfo" type="tns:PIListInfo"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendIVRReconnectionRequest">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
      <xs:element name="PaymentFacility" type="xs:string"/>
      <xs:element name="PaymentReference" type="xs:string"/>
      <xs:element name="DateOfPayment" type="xs:string"/>
      <xs:element name="AmountPaid" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendIVRReconnectionRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SendIVRReconnectionRequestResult" type="tns:SendIVRReconnectionRequestResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendIVRReconnectionRequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MSISDN" type="xs:string"/>
      <xs:element minOccurs="0" name="AccountStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="CaseReferenceID" type="xs:string"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBillCycleDetailsByMsisdn">
    <xs:sequence>
      <xs:element name="MSISDN" type="xs:string"/>
      <xs:element minOccurs="0" name="PrimaryResourceType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBillCycleDetailsByMsisdnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetBillCycleDetailsByMsisdnResult" type="tns:GetBillCycleDetailsByMsisdnResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBillCycleDetailsByMsisdnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerCyclesInfo" type="tns:CustomerCyclesInfo"/>
      <xs:element minOccurs="0" name="ResultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBillingList">
    <xs:sequence>
      <xs:element minOccurs="0" name="MSISDN" type="xs:string"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
      <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="fromDate" type="xs:string"/>
      <xs:element minOccurs="0" name="toDate" type="xs:string"/>
      <xs:element minOccurs="0" name="numRows" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBillingListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetBillingListResult" type="tns:GetBillingListResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBillingListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="docListInfo" type="tns:DocListInfos"/>
      <xs:element minOccurs="0" name="resultNameSpace" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocListInfos">
    <xs:sequence>
      <xs:element minOccurs="0" name="docList" type="tns:DocInfos"/>
      <xs:element minOccurs="0" name="paginationInfo" type="tns:PaginationInfos"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocInfos">
    <xs:sequence>
      <xs:element name="docId" type="xs:long"/>
      <xs:element minOccurs="0" name="docType" type="xs:string"/>
      <xs:element name="docStatus" type="xs:byte"/>
      <xs:element minOccurs="0" name="billDate" type="xs:string"/>
      <xs:element minOccurs="0" name="periodCoverageStartDate" type="xs:string"/>
      <xs:element minOccurs="0" name="periodCoverageEndDate" type="xs:string"/>
      <xs:element minOccurs="0" name="productionType" type="xs:string"/>
      <xs:element name="accountNo" type="xs:long"/>
      <xs:element name="customerNo" type="xs:long"/>
      <xs:element name="baNo" type="xs:long"/>
      <xs:element minOccurs="0" name="documentFormat" type="xs:string"/>
      <xs:element minOccurs="0" name="printingCategory" type="xs:string"/>
      <xs:element name="docProduceInd" type="xs:byte"/>
      <xs:element minOccurs="0" name="amountCurrency" type="xs:string"/>
      <xs:element minOccurs="0" name="dueDate" type="xs:string"/>
      <xs:element name="totalAmount" type="xs:double"/>
      <xs:element name="invoiceAmount" type="xs:double"/>
      <xs:element name="invoiceTaxAmount" type="xs:double"/>
      <xs:element name="invoiceNetAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="legalInvoiceNo" type="xs:string"/>
      <xs:element name="billFrequency" type="xs:short"/>
      <xs:element name="rebillActivity" type="xs:byte"/>
      <xs:element minOccurs="0" name="docDemandType" type="xs:string"/>
      <xs:element minOccurs="0" name="cycleControlInfo" type="tns:CycleControlInfos"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CycleControlInfos">
    <xs:sequence>
      <xs:element minOccurs="0" name="cycleNo" type="xs:int"/>
      <xs:element name="cycleCode" type="xs:short"/>
      <xs:element name="cycleYear" type="xs:short"/>
      <xs:element minOccurs="0" name="cycleInstance" type="xs:int"/>
      <xs:element minOccurs="0" name="startDate" type="xs:string"/>
      <xs:element minOccurs="0" name="endDate" type="xs:string"/>
      <xs:element minOccurs="0" name="runDate" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="cycleSeqRun" type="xs:int"/>
      <xs:element minOccurs="0" name="periodKey" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaginationInfos">
    <xs:sequence>
      <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
      <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="numberOfRows" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAccountBalanceByMsisdn" nillable="true" type="tns:getAccountBalanceByMsisdn"/>
  <xs:element name="GetSubscriberByAccountID" nillable="true" type="tns:GetSubscriberByAccountID"/>
  <xs:element name="GetAllSubscribersPerCustomer" nillable="true" type="tns:GetAllSubscribersPerCustomer"/>
  <xs:element name="GetUnbilledChargeByMsisdn" nillable="true" type="tns:GetUnbilledChargeByMsisdn"/>
  <xs:element name="GetPerformanceIndicatorsByMsisdn" nillable="true" type="tns:GetPerformanceIndicatorsByMsisdn"/>
  <xs:element name="GetLastPaymentByMsisdn" nillable="true" type="tns:GetLastPaymentByMsisdn"/>
  <xs:element name="GetOutstandingBalanceByMsisdn" nillable="true" type="tns:GetOutstandingBalanceByMsisdn"/>
  <xs:element name="RetrieveBillingStatement" nillable="true" type="tns:RetrieveBillingStatement"/>
  <xs:element name="GetPaymentChannelHeaderByMsisdn" nillable="true" type="tns:GetPaymentChannelHeaderByMsisdn"/>
  <xs:element name="GetSubscriberDistributionByMsisdn" nillable="true" type="tns:GetSubscriberDistributionByMsisdn"/>
  <xs:element name="CreateCreditForLoyaltyRebate" nillable="true" type="tns:CreateCreditForLoyaltyRebate"/>
  <xs:element name="GetSubscriberByMsisdn" nillable="true" type="tns:GetSubscriberByMsisdn"/>
  <xs:element name="GetSpendingLimitByMsisdn" nillable="true" type="tns:GetSpendingLimitByMsisdn"/>
  <xs:element name="SendIVRReconnectionRequest" nillable="true" type="tns:SendIVRReconnectionRequest"/>
  <xs:element name="GetBillCycleDetailsByMsisdn" nillable="true" type="tns:GetBillCycleDetailsByMsisdn"/>
  <xs:element name="GetBillingList" nillable="true" type="tns:GetBillingList"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SendIVRReconnectionRequest">
    <wsdl:part name="parameters" element="tns:SendIVRReconnectionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendIVRReconnectionRequestResponse">
    <wsdl:part name="result" element="tns:SendIVRReconnectionRequestResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveBillingStatement">
    <wsdl:part name="parameters" element="tns:RetrieveBillingStatement">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSpendingLimitByMsisdn">
    <wsdl:part name="parameters" element="tns:GetSpendingLimitByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetBillCycleDetailsByMsisdn">
    <wsdl:part name="parameters" element="tns:GetBillCycleDetailsByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOutstandingBalanceByMsisdn">
    <wsdl:part name="parameters" element="tns:GetOutstandingBalanceByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPerformanceIndicatorsByMsisdn">
    <wsdl:part name="parameters" element="tns:GetPerformanceIndicatorsByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetBillingListResponse">
    <wsdl:part name="result" element="tns:GetBillingListResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPerformanceIndicatorsByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetPerformanceIndicatorsByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSubscriberByAccountID">
    <wsdl:part name="parameters" element="tns:GetSubscriberByAccountID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveBillingStatementResponse">
    <wsdl:part name="result" element="tns:RetrieveBillingStatementResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetLastPaymentByMsisdn">
    <wsdl:part name="parameters" element="tns:GetLastPaymentByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSpendingLimitByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetSpendingLimitByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCreditForLoyaltyRebateResponse">
    <wsdl:part name="result" element="tns:CreateCreditForLoyaltyRebateResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetBillingList">
    <wsdl:part name="parameters" element="tns:GetBillingList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountBalanceByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetAccountBalanceByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCreditForLoyaltyRebate">
    <wsdl:part name="parameters" element="tns:CreateCreditForLoyaltyRebate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOutstandingBalanceByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetOutstandingBalanceByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPaymentChannelHeaderByMsisdn">
    <wsdl:part name="parameters" element="tns:GetPaymentChannelHeaderByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUnbilledChargeByMsisdn">
    <wsdl:part name="parameters" element="tns:GetUnbilledChargeByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSubscriberByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetSubscriberByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetBillCycleDetailsByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetBillCycleDetailsByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPaymentChannelHeaderByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetPaymentChannelHeaderByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSubscriberByAccountIDResponse">
    <wsdl:part name="result" element="tns:GetSubscriberByAccountIDResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUnbilledChargeByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetUnbilledChargeByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllSubscribersPerCustomer">
    <wsdl:part name="parameters" element="tns:GetAllSubscribersPerCustomer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountBalanceByMsisdn">
    <wsdl:part name="parameters" element="tns:GetAccountBalanceByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSubscriberDistributionByMsisdn">
    <wsdl:part name="parameters" element="tns:GetSubscriberDistributionByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetLastPaymentByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetLastPaymentByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSubscriberDistributionByMsisdnResponse">
    <wsdl:part name="result" element="tns:GetSubscriberDistributionByMsisdnResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllSubscribersPerCustomerResponse">
    <wsdl:part name="result" element="tns:GetAllSubscribersPerCustomerResponse">
    </wsdl:part>
    <wsdl:part name="WarcraftHeader" element="ns1:WarcraftHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSubscriberByMsisdn">
    <wsdl:part name="parameters" element="tns:GetSubscriberByMsisdn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BillingProxyService">
    <wsdl:operation name="GetAccountBalanceByMsisdn">
      <wsdl:input name="GetAccountBalanceByMsisdn" message="tns:GetAccountBalanceByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetAccountBalanceByMsisdnResponse" message="tns:GetAccountBalanceByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberByAccountID">
      <wsdl:input name="GetSubscriberByAccountID" message="tns:GetSubscriberByAccountID">
    </wsdl:input>
      <wsdl:output name="GetSubscriberByAccountIDResponse" message="tns:GetSubscriberByAccountIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubscribersPerCustomer">
      <wsdl:input name="GetAllSubscribersPerCustomer" message="tns:GetAllSubscribersPerCustomer">
    </wsdl:input>
      <wsdl:output name="GetAllSubscribersPerCustomerResponse" message="tns:GetAllSubscribersPerCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnbilledChargeByMsisdn">
      <wsdl:input name="GetUnbilledChargeByMsisdn" message="tns:GetUnbilledChargeByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetUnbilledChargeByMsisdnResponse" message="tns:GetUnbilledChargeByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerformanceIndicatorsByMsisdn">
      <wsdl:input name="GetPerformanceIndicatorsByMsisdn" message="tns:GetPerformanceIndicatorsByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetPerformanceIndicatorsByMsisdnResponse" message="tns:GetPerformanceIndicatorsByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastPaymentByMsisdn">
      <wsdl:input name="GetLastPaymentByMsisdn" message="tns:GetLastPaymentByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetLastPaymentByMsisdnResponse" message="tns:GetLastPaymentByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingBalanceByMsisdn">
      <wsdl:input name="GetOutstandingBalanceByMsisdn" message="tns:GetOutstandingBalanceByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetOutstandingBalanceByMsisdnResponse" message="tns:GetOutstandingBalanceByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBillingStatement">
      <wsdl:input name="RetrieveBillingStatement" message="tns:RetrieveBillingStatement">
    </wsdl:input>
      <wsdl:output name="RetrieveBillingStatementResponse" message="tns:RetrieveBillingStatementResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentChannelHeaderByMsisdn">
      <wsdl:input name="GetPaymentChannelHeaderByMsisdn" message="tns:GetPaymentChannelHeaderByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetPaymentChannelHeaderByMsisdnResponse" message="tns:GetPaymentChannelHeaderByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberDistributionByMsisdn">
      <wsdl:input name="GetSubscriberDistributionByMsisdn" message="tns:GetSubscriberDistributionByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetSubscriberDistributionByMsisdnResponse" message="tns:GetSubscriberDistributionByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCreditForLoyaltyRebate">
      <wsdl:input name="CreateCreditForLoyaltyRebate" message="tns:CreateCreditForLoyaltyRebate">
    </wsdl:input>
      <wsdl:output name="CreateCreditForLoyaltyRebateResponse" message="tns:CreateCreditForLoyaltyRebateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberByMsisdn">
      <wsdl:input name="GetSubscriberByMsisdn" message="tns:GetSubscriberByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetSubscriberByMsisdnResponse" message="tns:GetSubscriberByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpendingLimitByMsisdn">
      <wsdl:input name="GetSpendingLimitByMsisdn" message="tns:GetSpendingLimitByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetSpendingLimitByMsisdnResponse" message="tns:GetSpendingLimitByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendIVRReconnectionRequest">
      <wsdl:input name="SendIVRReconnectionRequest" message="tns:SendIVRReconnectionRequest">
    </wsdl:input>
      <wsdl:output name="SendIVRReconnectionRequestResponse" message="tns:SendIVRReconnectionRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillCycleDetailsByMsisdn">
      <wsdl:input name="GetBillCycleDetailsByMsisdn" message="tns:GetBillCycleDetailsByMsisdn">
    </wsdl:input>
      <wsdl:output name="GetBillCycleDetailsByMsisdnResponse" message="tns:GetBillCycleDetailsByMsisdnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillingList">
      <wsdl:input name="GetBillingList" message="tns:GetBillingList">
    </wsdl:input>
      <wsdl:output name="GetBillingListResponse" message="tns:GetBillingListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillingServiceSoapBinding" type="tns:BillingProxyService">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAccountBalanceByMsisdn">
      <soap12:operation soapAction="GetAccountBalanceByMsisdn" style="document"/>
      <wsdl:input name="GetAccountBalanceByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountBalanceByMsisdnResponse">
        <soap12:header message="tns:GetAccountBalanceByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberByAccountID">
      <soap12:operation soapAction="GetSubscriberByAccountID" style="document"/>
      <wsdl:input name="GetSubscriberByAccountID">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSubscriberByAccountIDResponse">
        <soap12:header message="tns:GetSubscriberByAccountIDResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubscribersPerCustomer">
      <soap12:operation soapAction="GetAllSubscribersPerCustomer" style="document"/>
      <wsdl:input name="GetAllSubscribersPerCustomer">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllSubscribersPerCustomerResponse">
        <soap12:header message="tns:GetAllSubscribersPerCustomerResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerformanceIndicatorsByMsisdn">
      <soap12:operation soapAction="GetPerformanceIndicatorsByMsisdn" style="document"/>
      <wsdl:input name="GetPerformanceIndicatorsByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPerformanceIndicatorsByMsisdnResponse">
        <soap12:header message="tns:GetPerformanceIndicatorsByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnbilledChargeByMsisdn">
      <soap12:operation soapAction="GetUnbilledChargeByMsisdn" style="document"/>
      <wsdl:input name="GetUnbilledChargeByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetUnbilledChargeByMsisdnResponse">
        <soap12:header message="tns:GetUnbilledChargeByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastPaymentByMsisdn">
      <soap12:operation soapAction="GetLastPaymentByMsisdn" style="document"/>
      <wsdl:input name="GetLastPaymentByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetLastPaymentByMsisdnResponse">
        <soap12:header message="tns:GetLastPaymentByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingBalanceByMsisdn">
      <soap12:operation soapAction="GetOutstandingBalanceByMsisdn" style="document"/>
      <wsdl:input name="GetOutstandingBalanceByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetOutstandingBalanceByMsisdnResponse">
        <soap12:header message="tns:GetOutstandingBalanceByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentChannelHeaderByMsisdn">
      <soap12:operation soapAction="GetPaymentChannelHeaderByMsisdn" style="document"/>
      <wsdl:input name="GetPaymentChannelHeaderByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPaymentChannelHeaderByMsisdnResponse">
        <soap12:header message="tns:GetPaymentChannelHeaderByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBillingStatement">
      <soap12:operation soapAction="RetrieveBillingStatement" style="document"/>
      <wsdl:input name="RetrieveBillingStatement">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveBillingStatementResponse">
        <soap12:header message="tns:RetrieveBillingStatementResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCreditForLoyaltyRebate">
      <soap12:operation soapAction="CreateCreditForLoyaltyRebate" style="document"/>
      <wsdl:input name="CreateCreditForLoyaltyRebate">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateCreditForLoyaltyRebateResponse">
        <soap12:header message="tns:CreateCreditForLoyaltyRebateResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberDistributionByMsisdn">
      <soap12:operation soapAction="GetSubscriberDistributionByMsisdn" style="document"/>
      <wsdl:input name="GetSubscriberDistributionByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSubscriberDistributionByMsisdnResponse">
        <soap12:header message="tns:GetSubscriberDistributionByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberByMsisdn">
      <soap12:operation soapAction="GetSubscriberByMsisdn" style="document"/>
      <wsdl:input name="GetSubscriberByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSubscriberByMsisdnResponse">
        <soap12:header message="tns:GetSubscriberByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpendingLimitByMsisdn">
      <soap12:operation soapAction="GetSpendingLimitByMsisdn" style="document"/>
      <wsdl:input name="GetSpendingLimitByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSpendingLimitByMsisdnResponse">
        <soap12:header message="tns:GetSpendingLimitByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendIVRReconnectionRequest">
      <soap12:operation soapAction="SendIVRReconnectionRequest" style="document"/>
      <wsdl:input name="SendIVRReconnectionRequest">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendIVRReconnectionRequestResponse">
        <soap12:header message="tns:SendIVRReconnectionRequestResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillCycleDetailsByMsisdn">
      <soap12:operation soapAction="GetBillCycleDetailsByMsisdn" style="document"/>
      <wsdl:input name="GetBillCycleDetailsByMsisdn">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBillCycleDetailsByMsisdnResponse">
        <soap12:header message="tns:GetBillCycleDetailsByMsisdnResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillingList">
      <soap12:operation soapAction="GetBillingList" style="document"/>
      <wsdl:input name="GetBillingList">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBillingListResponse">
        <soap12:header message="tns:GetBillingListResponse" part="WarcraftHeader" use="literal">
        </soap12:header>
        <soap12:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingService">
    <wsdl:port name="BillingServicePort" binding="tns:BillingServiceSoapBinding">
      <soap12:address location="http://10.225.10.4:8211/billing"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
